<ion-header>
  <ion-navbar color="color2">
    <ion-title>
      Dziennik
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-card class="item"  *ngFor="let item of items | async">

      <ion-item>
        <h2>{{item.title}}</h2>
        <small>{{item.date}}</small>
        <p> {{item.summary}} </p>

        <!-- <section class="multiples">
          <span>Zrobione:</span>
          <ion-chip *ngFor="let zrobione of item.done" padding-left padding-right margin-right>
            {{ zrobione.name }}
          </ion-chip>
        </section>

        <section class="multiples">
          <span>Planowane:</span>
          <ion-chip *ngFor="let plan of item.todo" padding-left padding-right margin-right>
            {{ plan.name }}
          </ion-chip>
        </section>
         <section>
          <span>Ocena:
          <ion-chip padding-left padding-right margin-right>
            {{ item.rating }}
          </ion-chip></span>
        </section> -->

        <div class="manage-record" padding>
          <button ion-button text-center color="color2" (click)="editItem(item)">
          Edycja
          </button>

          <button ion-button text-center color="color2" (click)="deleteItem(item)">
          Usuń
          </button>

        </div>
      </ion-item>

    </ion-card>

  </ion-list>

</ion-content>
